@model BossBank.Data.Entities.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteCPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteCPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteEmpre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteEmpre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteCNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteCNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteFunc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteFunc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteSalario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteSalario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteRua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteRua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteBairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteBairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.ClienteID">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
