@model IEnumerable<BossBank.Data.Entities.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar Novo</a>
</p>
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteCPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteSalario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.ClienteNome)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ClienteCPF)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ClienteFunc)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ClienteSalario)
                    </td>
                    <td class="row">
                        <a asp-action="Edit" class="btn btn-success m-1" asp-route-id="@item.ClienteID">Editar</a>
                        <a asp-action="Details" class="btn btn-info m-1" asp-route-id="@item.ClienteID">Detalhes</a>
                            
                    <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#DeleteModal-@item.ClienteID">
                            Excluir
                        </button>

                        <!-- Modal -->
                    <div class="modal fade" id="DeleteModal-@item.ClienteID" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="DeleteModalLabel">Excluir Cliente</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Deseja realmente excluir o Cliente @item.ClienteNome ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ClienteID">Sim</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
        }
    </tbody>
</table>

@section Scripts{
<script>
    $(document).ready( function () {
        $('#table_id').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
            }
        });
    } );
</script>
}