@model BossBank.Data.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RendaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RendaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success m-1" asp-route-id="@Model.IdCliente">Editar</a>
    <a asp-action="Index" class="btn btn-info m-1">Voltar</a>
</div>
