@model IEnumerable<BossBank.Data.Entities.ContaCorrente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credito)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Conta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Conta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Conta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
