@model BossBank.Data.Entities.Colaborador

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Colaborador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorCPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorCPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorSetor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorSetor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorGestor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorGestor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorSalario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorSalario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.ColaboradorId">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
